{% extends "base.html" %}

{% block content %}
  <p align="right"><a class="btn btn-primary" href="/load_track">⬆️Загрузить трек</a></p>

    <table align="left">
      <tbody class="table-group-divider">
        {% for track in tracks %}
          <tr>
            <td><a href="/{{ track.image }}"><img width="150" height="150" src={{ track.image }} /></a></td>
            <td>
              <h5>{{ track.name }}</h5>
              <p style="color: #0c6efd; padding-left: 0.5em">{{ track.genres }}</p>
              <audio controls src={{ track.track_file }}></audio>
              <h6>{{ track.description }}</h6>
            </div>
            </td>
          </tr>

          <tr>
            <td><h5 align="center">{{ track.rating }}</h5></td>
            <td><a class="btn btn-danger" href="/delete/{{ track.id }}">Delete</a>
            <hr />
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}