{% extends "base.html" %}

{% block content %}
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control", type="text") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <p align="right">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </div>
    </form>
    {% endif %}
    <table align="left" class="center">
      <tbody class="table-group-divider">
          {% for track in tracks %}
          <tr>
            <td><a href="/{{ track.image }}"><img width="150" height="150" src={{ track.image }} /></a></td>
            <td>
              <a class="navbar-brand" href="/users_tracks/{{ track.author_id }}" style="color: #a6a7aa">{{ track.author }}</a>
              <h5>{{ track.name }}</h5>
              <p style="color: #0c6efd; padding-left: 0.5em">{{ track.genres }}</p>
              <audio controls src={{ track.track_file }}></audio>
              <br />
              <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal{{ track.id }}">
                  Описание
              </button>

                <div class="modal fade" id="exampleModal{{ track.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="False">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Описание</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                          <pre>{{ track.description }}</pre>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      </div>
                    </div>
                  </div>
                </div>

            </td>
          </tr>

          <tr>
            <td><h5 align="center">{{ track.rating }}</h5></td>
            {% if current_user.id in track.upvoted_users %}
                <td><a class="btn btn-danger" href="/downvote/{{ track.id }}">Downvote</a>
            {% else %}
                <td><a class="btn btn-success" href="/upvote/{{ track.id }}">Upvote</a>
            {% endif %}
            {% if current_user.id in track.favorite_users %}
                <a class="btn btn-warning" href="/remove_from_favorites/{{ track.id }}">❌Remove from favorites</a>
            {% else %}
                <a class="btn btn-warning" href="/add_to_favorites/{{ track.id }}">Add to favorites</a>
            {% endif %}
                <a class="btn btn-primary" href="/comment/{{ track.id }}">Comment</a>
            <hr />
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>


{% endblock %}